#u2203_div {
    height:36px;
    background:inherit;
    position: relative;
    bottom: 0;
    background-color:rgba(0, 21, 41, 1);
    font-size:20px;
    color:#FFFFFF;
    width : calc(100% + 100px);
    text-align: center;
    margin-top: 20px;
}
#u2203_text {
    padding-top: 2px;
    text-decoration: None;
    color: #fff;
}