.shouye_part1 {
    left:0;
    top:0;
    width:650px;
    height:360px;
    margin-top: 20px;
    margin-left: 20px;
    float : left;
    display: inline-flex;
    border-width: 1px;
}
.shouye_part2 {
    margin-left: 50px;
    margin-top: 20px;
    top : 0;
    left : 0;
    width: 600px;
    height : 360px;
    position : relative;
    border-radius: 8px;
    padding : 0;
    box-shadow:  0px 6px 20px 0 rgba(0, 0, 0, 0.15);
}
.shouye_part3 {
    margin-left: 20px;
    margin-top: 20px;
    width : 650px;
    height : 360px;
    box-shadow:  0px 6px 20px 0 rgba(0, 0, 0, 0.15);
    border-radius: 8px;

}
.shouye_part2_menu {
    font-size: 18px;
    width : 400px;
    text-align: left;
    margin-left: 0;
    padding-left : 0
}
.shouye_part2_menu :global(.ant-card-body) {
    padding : 0px
}
.shouye {
    left : 0;
    top : 0;
    height : 100%;
    width : 450px;

}
.shouye_upper {
    display: flex;
    flex-wrap: nowrap;
    left : 0;
    top : 0;
    height : 100%;
    width : 100%;
}
.listitem {
    font-size: 16px;
    font-weight: 400;
    margin-left : 20px;
}
.titleblock {
    display: flex;
}